@use "../1-base/mixinsBase";

.container{
    width: 30vw;
    margin: 5rem auto;
    overflow: hidden;

    @include mixinsBase.screen-sm{
        width: 90vw;
    }

    @include mixinsBase.screen-md{
        width: 60vw;
    }

    @include mixinsBase.screen-lg{
        width: 40vw;
    }
}