@use "../1-base/fonts";
@use "../1-base/colors";
@use "mixinsLayout";

.main-container{
    background-color: colors.$bg-main;
    @include mixinsLayout.border-radius-elements;
    @include mixinsLayout.padding-elements;

    .speding{

        h1{
            color:colors.$darkbrown;
            font-size: 1.5rem;
        }

    }

    .total-month{
        display: flex;
        justify-content: space-between;

        &-value{

            p{
                font-size: 2rem;
                @include mixinsLayout.p-elements;
            }

        }

        &-percent{

            p{
                @include mixinsLayout.p-elements;
            }

        }

        h3{
            font-size: 1rem;
            color:colors.$mediumbrown;
            font-weight: 400;
        }

        .total-month-percent{

            .percent-content{
                text-align: right;
            }

        }
    }
}