@use "../1-base/colors";
@use "../1-base/fonts";

@mixin border-radius-elements{
    border-radius: 15px;
}

@mixin padding-elements{
    padding: 1.25rem;
}

@mixin p-elements{
    color:colors.$darkbrown;
    font-family: "DM-sans-bold";
}