//primary colors
$soft-red:hsl(10, 79%, 65%);
$cyan:hsl(186, 34%, 60%);

//neutral
$darkbrown: hsl(25, 47%, 15%);         //main texts
$mediumbrown: hsl(28, 10%, 53%);       //text total month
$cream: hsl(27, 66%, 92%);             //bg body
$very-pale-orange: hsl(33, 100%, 98%); //text myBalance
$bg-main:hsl(38, 100%, 98%);           //bg main
$light-red:hsla(10, 50%, 65%,0.3);     //color border chart
